<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static '/js/roleta.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Conta do Usuário</title>
</head>

<body>
    <div class="container">
        <h3>Dinheiro na Carteira: $<span id="walletBalance"></span></h3>
        <div class="input-group mb-3">
            <input id="amountInput" type="number" min="0" placeholder="Digite a quantidade" class="form-control">
            <div class="input-group-append">
                <button onclick="addToWallet()" class="btn btn-primary">Adicionar dinheiro</button>
            </div>
        </div>
        
        
        <h3>Sacar o dinheiro:</h3>
        <form id="withdrawForm">
            <div class="form-group">
                <label for="withdrawAmount">Quantidade do Saque:</label>
                <input type="number" id="withdrawAmount" required class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Sacar</button>
        </form>
    </div>

    <a href="{% url 'index' %}" class="btn btn-primary">Apostar</a>

    <script>
        loadWalletBalance();

        function withdrawFromWallet() {
            var withdrawAmountInput = document.getElementById("withdrawAmount");
            var withdrawAmount = parseFloat(withdrawAmountInput.value);

            if (isNaN(withdrawAmount) || withdrawAmount <= 0) {
                alert("Please enter a valid amount to withdraw.");
                return;
            }

            if (withdrawAmount > walletBalance) {
                alert("Insufficient funds. Cannot withdraw more than the current balance.");
                return;
            }else if (withdrawAmount <= walletBalance) {

                walletBalance -= withdrawAmount;
                updateWalletBalance();

                // Salve o novo saldo da carteira no Local Storage
                localStorage.setItem("walletBalance", walletBalance);
}
        }

        document.getElementById("withdrawForm").addEventListener("submit", function(event) {
            event.preventDefault();
            withdrawFromWallet();
        });
    </script>
</body>
</html>
